.card-label {
  background-color: black;
  border-radius: 5px;
  margin-left: 10px;
  color: white;
  padding: 7px;
  top: 1px;
  padding-right: 20px;
  padding-left: 20px;
  margin-top: 10px;
  font-size: 11px;
  font-family: sans-serif;
  font-weight: bold;
  margin-bottom: -2px;
}

.start-3 {
  position: absolute;
  bottom: 0.5rem;
  

}

.mid-1 {
  justify-content: center;
  margin-top: 0rem;
  position: absolute;
  top: 1px;
  margin-left: 23%;
}

.mid-2 {
  justify-content: center;
  margin-top: 8rem;
  position: absolute;
  top: 1px;
  margin-left: 23%;
}

.mid-3 {
  justify-content: center;
  position: absolute;
  margin-left: 23%;
  bottom: 0.5rem;
}

.mid-4 {
  justify-content: center;
  position: absolute;
  margin-left: 49%;
  bottom: 0.5rem;


}

.end-1 {
  margin-top: 0rem;
  position: absolute;
  top: 1px;
}

.end-2 {
  margin-top: 0rem;
  position: absolute;
  top: 11rem;
}

.end-3 {
  margin-top: 0rem;
  position: absolute;
  bottom: 0.5rem;
}

.watchlist {
  justify-content: flex-end;
  margin-top: 0rem;
  position: absolute;
  top: 1px;
  left: 80%;
  height: 100%;
  transform: translate(-20%);
  bottom: 10px;
}

.cardheader {
  background-color: #dfe3e6;
  justify-content: space-between;
  width: 100%;
  font-weight: 500;
}

.cardcontent {
  margin-left: 8px;
  font-weight: 500;
  font-size: 13px;
  padding: 4px;
  flex-direction: row;
  justify-content: space-between;
}

.newscardcontent {
  font-weight: 500;
  font-size: 14px;
  padding: 2px;
  border-bottom: 1px solid rgb(226, 226, 226);
}

.percentage {
  position: absolute;
  right: 5px;
  font-size: 13px;
  font-weight: bolder;

}

.profit {
  position: absolute;
  right: 5px;
  font-size: 13px;
  font-weight: bolder;
  color: rgb(0, 163, 14);

}

.loss  {
  position: absolute;
  right: 5px;
  font-size: 13px;
  font-weight: bolder;
  color: red;

}


.timestamp {
  position: absolute;
  right: 15px;
  font-size: 13px;

}




.performancecardFooter {
  width: 100%;
  background-color: #eff1f1;
  padding: 10px;
  position: absolute;
  bottom: 0rem;
  border-top: 2px solid #babfca ;

}
