.App {
  background-color: #282c34;
  height: 100vh;

}

body {
  overflow-y: hidden;
}



.maincard {
  margin-left: 19%;
  height: 55rem;
}

.search {
  margin-left: 19%;
  margin-bottom: 2px;
  padding: 6px;
  width: 25%;
  position: relative;
}

.searchtext:hover {
  box-shadow: 1px 1px 5px #5784e6;
  
}

.searchbarend {
  position: absolute;
  width: 25px;
  height: 25px;
  border: 2px solid #555d6e;
  border-radius: 5px;
  right: 10px;
  top: 12px;
  background-color: #404653;
  color: #9aa1b1;
  padding-left: "2px";
}

.icons {
  position: absolute;
  left: 15px;
  top: 12px;
  font-size: large;
  color: #9aa1b1;
}

input.searchtext::placeholder {
  color: #9aa1b1;
  opacity: 1;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
}

.watchlistcard {
  position: absolute;
  top: 3rem;
  color: white;
  min-height: 100vh;
}

.dropdown {
  width: 8%;
}

select:focus {
  outline: "none";
  outline-width: 0px;
}

.dropdowncontent {
  font-size: 15px;
  padding: 10px;
  margin-top: 2rem;
  font-weight: bold;
  background-color: rgb(241, 241, 241);
  border-radius: 5px;
  border: 1px solid rgb(221, 216, 216);
  padding-left: 2rem;
  padding-right: 1.5rem;
}

.watchlistcardheader {
  width: 100%;
  background-color: #eff1f1;
  padding: 8px;
  position: absolute;
  margin-top: 7rem;
  border-top: 1px solid #babfca;
  border-bottom: 2px solid #babfca;
}

.watchlistcardFooter {
  width: 100%;
  background-color: #eff1f1;
  padding: 10px;
  position: absolute;
  bottom: 0rem;
  border-top: 1px solid #babfca;
  border-bottom: 2px solid #babfca;
}

.watchlistcardcontent {
  font-weight: bold;
  color: rgb(0, 162, 255);
}

.watchlistcardlist {
  font-weight: 500;
  color: rgb(48, 38, 38);
  font-size: 18px;
  margin-left: 1rem;
}

.watchlistcardlistcontent {
  color: rgb(182, 182, 182);
  font-size: 16px;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #babfca;
}

.scroller :hover {
  background-color: #eff1f1;
  border-left: 5px solid rgb(0, 132, 255);
}

.watchlistlabel {
  margin-left: 1rem;
  font-size: 15px;
  color: black;
  font-weight: 500;
}

.percentage {
  color: rgb(33, 36, 33);
  position: absolute;
  right: 1rem;
  font-size: 13px;
  font-weight: bolder;
}

.percentagelabel {
  color: rgb(44, 155, 0);
  position: absolute;
  right: 1rem;
  font-size: 13px;
  font-weight: bolder;
}

.lastlabel {
  color: black;
  position: absolute;
  right: 8rem;
  font-size: 13px;
  font-weight: bolder;
}

.scroller {
  position: absolute;
  top: 10rem;
  height: 75%;
  width: 22rem;
  bottom: 0rem;
  overflow-y: auto;
  overflow-x: unset;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.cardheader {
  background-color: #dfe3e6;
  justify-content: space-between;
  width: 100%;
  font-weight: 500;
}

.cardcontent {
  margin-left: 8px;
  font-weight: 500;
  font-size: 13px;
  padding: 4px;
  flex-direction: row;
  justify-content: space-between;
}

button {
  outline: none;
  border-color: transparent;
  background-color: transparent;
}

button:focus {
  border: 1px solid rgb(206, 205, 205);
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  color: rgb(0, 132, 255);
  background-color: white;
}

.sidenav {
  position: absolute;
  left: -1rem;
  top: 0rem;
  color: #282c34;
  min-height: 100vh;
}

.hoverlist:hover {
  background-color:#3b4250 ;
  border-left: 4px solid rgb(0, 132, 255);

}

